.classpath
.project
web/static/image/Thumbs.db
web/user/img/Thumbs.db
web/img/jqueryui/Thumbs.db
web/img/avatars/Thumbs.db
web/img/demo/Thumbs.db
web/img/dropzone/Thumbs.db
web/img/favicon/Thumbs.db
web/img/flags/Thumbs.db
web/img/gradient/Thumbs.db
web/img/head/Thumbs.db
web/img/invoice/Thumbs.db
web/img/loginbg/Thumbs.db
web/img/pattern/Thumbs.db
web/img/splash/Thumbs.db
web/upload/user/headImg/20141129/Thumbs.db
java/bin/
*.class