.mybtn{
	background:url(../img/12.png);
	color:#FFFFFF;
	font-family:"Î¢ÈíÑÅºÚ";
	font-size:18px;
	width:145px;
	height:35px;
}
.uploadbtn{float:right;margin-top:-35px;}
.form-item label { 
	width:160px; 
	float:left; 
	height:28px; 
	font-family:"Î¢ÈíÑÅºÚ";
	font-size:14px; 
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:28px; 
	text-align:right; 
}
.form-item input { width:65%;}
.form-item .sex-box { width:180px; }
.form-item .sex-box input { width:auto; height:auto; padding:0; border:none; display:inline; margin:0 2px 0px 0px; float:none; }
.form-item .option-box select { width:100px; height:26px; line-height:26px; border:1px solid #9c9c9c; border-radius:3px; color:#555; margin-right:5px; }
.form-item input[type="text"]:focus, .form-item input[type="password"]:focus { border-color: #f5a9a6; box-shadow: 0 1px 4px rgba(255, 50, 50, 0.25) inset, 0 0 3px rgba(255, 50, 50, 0.25); }